body {
  display: grid;
  grid-template-columns: 
  grid-template-rows: 25% 25% 25% 25%;
  width: 1000pt; /* Add some dimension and color for us to see it better */
  height: 500pt;
  border: solid red 1pt;
}

.our-grid-item {
  grid-column: 2/3;
  grid-row: 4/5;
  border: solid black 2pt; /* add color and dimension to see more easily */
  margin: 20pt 5pt;
  padding: 2pt 5pt;
}