* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body, html {
  background-color: #45a8cf;
  height: 100%;
}

.background {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 100px;
}

.title2 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

.checkboxes {
  margin-top: 50px;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

.title3 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

.contactedPrompt {
  margin-top: 50px;
}

.form2 {
  display: flex;
  justify-content: space-evenly;
}

.title4 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

.emailPrompt {
  margin-top: 50px;
}

.emailInput {
  text-align: center;
  font-size: 24px;
}

.title5 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

.birthdayPrompt {
  margin-top: 25px;
  font-size: 24px;
}

.birthdate {
  text-align: center;
}

.commentPrompt {
  margin-top: 50px;
}

.commentArea {
  text-align: center;
  font-size: 24px;
}

.btn {
  height:50px; 
  width:150px; 
  margin-top: 25px;
  position:relative;
  font-size: 24px;
  top:50%; 
  left:50%;
}

.button {
  padding-right: 75px;
}

@media (max-width: 576px) {

  * {
    margin: 0;
    padding: 0;
  }

  .title {
    padding-left: 175px;
  }

  .title2 {
    padding-left: 175px;
    /* font-size: 30px; */
  }

  .form {
    padding-left: 175px;
  }

  .title3 {
    padding-left: 175px;
  }

  .form2 {
    padding-left: 175px;;
  }

  .title4 {
    padding-left: 175px;
  }

  .form3{
    padding-left: 175px;
  }

  .title5 {
    padding-left: 175px;
  }

  .form4 {
    padding-left: 175px;
  }

  .button {
    padding-left: 175px;
  }

}

@media (max-width: 768px) {

  .button {
    padding-right: 125px;
  }
}